.blurImg {
  filter: blur(4px);
}

.blurImg.loaded > IKImage {
  opacity: 1;
}

.blurImg > IKImage {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

@media screen and (max-width: 995px) {
  .reviews {
    flex-direction: column;
  }
}
